# VSCode/pycharm
.history
.vscode/*
.env
.idea

# django/python
__pycache__
*.py[oc]
.mypy_cache
*.sqlite3
.pytest_cache
*.egg-info/
.installed.cfg
*.eggs

# dependencies
node_modules
package-lock.json
/.pnp
.pnp.js

# testing
coverage
videos
screenshots
**/cypress/downloads

# production
build/
dist/
wheels/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
thumbs.db
scratch
_scratch
WEB-INF/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# track launch.json config
!.vscode/launch.json
!.vscode/tasks.json
